@tailwind base;
@tailwind components;
@tailwind utilities;
.swal2-container {
  z-index: 9999 !important;
  
}
.useTransition{
    @apply transition-all duration-500 ease-in-out;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }
  .ticket-print {
    width: 80mm;
    font-family: monospace;
  }
}
